<div class="column container-main container-signup">
    <div class="row">
        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
            <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ error}}
        </div>
        <div class="alert alert-success alert-dismissable" role="alert" ng-show="success">
            <button class="close" ng-click="success = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Éxito!</strong> {{ success}}
        </div>

        <div class="col-md-12">
            <h2>Exámen</h2>
        </div>

        <div ng-if="finished" class="alert alert-success alert-dismissable" role="alert" ng-show="error">
            <strong>Examen terminado!</strong>
            <a href="#/student/contents/classes/{{unitId}}/0/0" >Volver a la unidad {{unit.number}}</a>
        </div>

        <div ng-if="!finished && canDoExam" class="col-md-12">
            <div class="box" style="background-color: #F5F8F9">

                <div class="box-icon bg-darkblue">
                    <span class="number-font">{{unit.get('number')}}</span>
                </div>
                <div class="info">
                    <h4 class="text-center">{{unit.get('title')}}</h4>
                </div>
            </div>
        </div>

        <div ng-if="!finished && canDoExam" class="col-md-12">
            <div class="box" style="background-color: #DCE7EA">
              <div class="box-icon-2 bg-darkblue">
                  <span class="number-font">Preguntas</span>
              </div>
              <h4>Total: {{allQuestion.length}}</h4>
              <div ng-repeat="question in allQuestion">
                <div class="card flat-d">
                  <div class="info">
                      <h5 class="text-center flat-p">{{question.get('question')}}</h5>
                      <div class="form-group">
                          <div ng-repeat="answer in question.answers" style="display: block !important" class="radio">
                              <label>
                                  <input type="radio" ng-model="question.choose" ng-value="answer">
                                  <span class="cr">
                                      <i class="cr-icon fa fa-check"></i>
                                  </span>
                                  <span class="radio-label-text">{{answer}}</span>
                              </label>
                              <br>
                          </div>
                      </div>

                      <!-- <label ng-repeat="answer in question.answers">
                        <input
                          type="checkbox"
                          value="{{answer}}"
                          ng-checked="selection.indexOf(fruitName) > -1"
                          ng-click="toggleSelection(fruitName)"
                        > {{fruitName}}
                      </label>

                      <div>
                          <p class="order-label"><strong>¿Dónde lo va a entregar?</strong></p>
                          <br>
                          <select ng-model="whereDeliverIt.selectedOption.id" ng-options="option.id as option.label for option in whereDeliverIt.availableOptions" class="form-control"></select>
                          <input id="floorNumber" class="form-control" ng-model="floor" placeholder="Ingrese el piso" ng-show="whereDeliverIt.selectedOption.id==3">
                          <br>
                      </div>
                      <div ng-repeat="answer in question.answers">
                        <p>{{answer}}</p>
                      </div> -->
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <!-- Modal -->
      <div id="finishModal" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-bg order-modal">
              <!-- Modal content -->
              <div ng-if="!finished" class="modal-content">
                <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
                    <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> {{ error}}
                </div>
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Desea finalizar el examen</h4>
                  </div>
                  <div class="modal-body">

                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12" style="margin-top: 10px">
                      <div class="col-xs-6">
                        <button type="button" ng-click="finishExam()" class="btn btn-default btn3 btn2 btn-block">Si</button>
                      </div>
                      <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
              </div>

              <div ng-if="finished" class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Resultado del examen</h4>
                  </div>
                  <div class="modal-body">
                    <h3 class="text-center">{{results.grade}}</h3>
                    <p>Correctas: {{results.corrects}}</p>
                    <p>Incorrectas: {{results.incorrects}}</p>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12" style="margin-top: 10px">
                        <button type="button" ng-click="redirectToUnit()" class="btn btn-default btn3 btn2 btn-block">Volver a la unidad</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>

      <div id="timeoutModal" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-sm order-modal">
              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Resultado del Examen</h4>
                </div>
                <div class="modal-body">
                      <div class="alert alert-danger alert-dismissable" role="alert">
                          <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                          <strong>Tiempo agotado!</strong>
                      </div>
                      <h3 class="text-center">{{results.grade}}</h3>
                      <p>Correctas: {{results.corrects}}</p>
                      <p>Incorrectas: {{results.incorrects}}</p>
                </div>
                <div class="modal-footer">
                  <div class="col-md-12" style="margin-top: 10px">
                      <button type="button" ng-click="redirectToUnit()" class="btn btn-default btn3 btn2 btn-block">Volver a la unidad</button>
                  </div>
                </div>
              </div>
          </div>
      </div>

      <!--Sticky footer -->
      <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <div class="col-md-12">
            <div class="col-md-6">
            <h3 style="color: white">
              <timer finish-callback="callbackTimer.finished()" countdown="60" interval="1000">{{mminutes}} minuto{{minutesS}}, {{sseconds}} segundo{{secondsS}}</timer>
            </h3>
          </div>
          <div class="col-md-6">
            <div class="col-md-4 pull-right">
              <button type="button" data-toggle="modal" data-target="#finishModal" class="btn btn-default btn3 btn2 btn-block">Terminar</button>
            </div>
          </div>
          </div>
        </div>
    </div>
</div>
