<div class="column container-main container-signup">
    <div class="row">
        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
            <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ error}}
        </div>
        <div class="alert alert-success alert-dismissable" role="alert" ng-show="success">
            <button class="close" ng-click="success = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Éxito!</strong> {{ success}}
        </div>

        <div class="col-md-12">
            <h2>Exámen</h2>
        </div>

        <div class="col-md-12">
            <div class="box" style="background-color: #F5F8F9">

                <div class="box-icon bg-darkblue">
                    <span class="number-font">{{unit.get('number')}}</span>
                </div>
                <div class="info">
                    <h4 class="text-center">{{unit.get('title')}}</h4>
                    <p>{{unit.get('description')}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box" style="background-color: #DCE7EA">
              <div class="box-icon-2 bg-darkblue">
                  <span class="number-font">Preguntas</span>
              </div>
              <h4>Total: {{allQuestion.length}}</h4>
              <div ng-repeat="question in allQuestion">
                <div class="card flat-d">
                <div class="info">
                    <h5 class="text-center flat-p">{{question.get('question')}}</h5>
                    <div class="form-group">
                        <div ng-repeat="answer in question.answers" class="radio">
                            <label>
                                <input type="radio" ng-model="question.choose" ng-value="answer" checked>
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                <span class="radio-label-text">{{answer}}</span>
                            </label>
                        </div>
                    </div>

                    <!-- <label ng-repeat="answer in question.answers">
                      <input
                        type="checkbox"
                        value="{{answer}}"
                        ng-checked="selection.indexOf(fruitName) > -1"
                        ng-click="toggleSelection(fruitName)"
                      > {{fruitName}}
                    </label>

                    <div>
                        <p class="order-label"><strong>¿Dónde lo va a entregar?</strong></p>
                        <br>
                        <select ng-model="whereDeliverIt.selectedOption.id" ng-options="option.id as option.label for option in whereDeliverIt.availableOptions" class="form-control"></select>
                        <input id="floorNumber" class="form-control" ng-model="floor" placeholder="Ingrese el piso" ng-show="whereDeliverIt.selectedOption.id==3">
                        <br>
                    </div>
                    <div ng-repeat="answer in question.answers">
                      <p>{{answer}}</p>
                    </div> -->
                </div>
                <div class="top-corner">

                </div>
              </div>
            </div>

            </div>
        </div>
      </div>

      <!-- Modal -->
      <div id="editModalQuestion" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-bg order-modal">
              <!-- Modal content -->
              <div class="modal-content">
                  <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorDelete">
                      <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                      <strong>Error!</strong> {{ errorDelete}}
                  </div>
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Editar Pregunta</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group signup-input">
                        <p class="order-label"><strong>Pregunta</strong></p>
                        <textarea class="form-control" ng-model="setQuestion.question" maxlength="400"></textarea>
                    </div>
                    <div class="col-md-12" style="background-color: #CEE1BA">
                      <div class="form-group createmeal-input" >
                          <p class="order-label" style="color: #292D25"><strong>Respuesta correcta</strong></p>
                          <textarea class="form-control" ng-model="setQuestion.trueAnswer" maxlength="400"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12" style="background-color: #E7D0D0">
                      <div class="form-group createmeal-input">
                          <p class="order-label"><strong>Respuestas incorrectas</strong></p>
                          <textarea class="form-control" ng-model="setQuestion.falseAnswer1" maxlength="400"></textarea>
                      </div>
                      <div class="form-group createmeal-input">
                          <textarea class="form-control" ng-model="setQuestion.falseAnswer2" maxlength="400"></textarea>
                      </div>
                      <div class="form-group createmeal-input">
                          <textarea class="form-control" ng-model="setQuestion.falseAnswer3" maxlength="400"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12" style="margin-top: 10px">
                      <div class="col-xs-6">
                        <button type="button" ng-click="saveQuestion(setQuestion)" class="btn btn-default btn3 btn2 btn-block">Guardar</button>
                      </div>
                      <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>

      <div id="addModalQuestion" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-bg order-modal">
              <!-- Modal content -->
              <div class="modal-content">
                  <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorDelete">
                      <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                      <strong>Error!</strong> {{ errorDelete}}
                  </div>
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Crear pregunta</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group signup-input">
                        <p class="order-label"><strong>Pregunta</strong></p>
                        <textarea class="form-control" ng-model="newQuestion.question" maxlength="400"></textarea>
                    </div>
                    <div class="col-md-12" style="background-color: #CEE1BA">
                      <div class="form-group createmeal-input" >
                          <p class="order-label" style="color: #292D25"><strong>Respuesta correcta</strong></p>
                          <textarea class="form-control" ng-model="newQuestion.trueAnswer" maxlength="400"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12" style="background-color: #E7D0D0">
                      <div class="form-group createmeal-input">
                          <p class="order-label"><strong>Respuestas incorrectas</strong></p>
                          <textarea class="form-control" ng-model="newQuestion.falseAnswer1" maxlength="400"></textarea>
                      </div>
                      <div class="form-group createmeal-input">
                          <textarea class="form-control" ng-model="newQuestion.falseAnswer2" maxlength="400"></textarea>
                      </div>
                      <div class="form-group createmeal-input">
                          <textarea class="form-control" ng-model="newQuestion.falseAnswer3" maxlength="400"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12" style="margin-top: 10px">
                      <div class="col-xs-6">
                        <button type="button" ng-click="addQuestion(newQuestion)" class="btn btn-default btn3 btn2 btn-block">Guardar</button>
                      </div>
                      <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
