<div class="column container-main">
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
            <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ error}}
        </div>
        <div class="alert alert-success alert-dismissable" role="alert" ng-show="success">
            <button class="close" ng-click="success = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Éxito!</strong>{{ success}}
        </div>


        <div class="col-md-12">


        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="box" style="background-color: #F6F2F4">
                <div class="box-icon-2" style="width:55%; background-color: #772244">
                    <span class="number-font">Bloque de Contenido</span>
                </div>
                    <h6 ng-if="!block.get('name')" class="text-center">No hay ningún bloque asignado a este curso</h6>
                    <h4 ng-if="block.get('name')" class="text-center">{{block.get('name')}}</h4>
            </div>
            <!-- tree with units -->
            <div class="box">
              <div style="width:125px" class="box-icon-2">
                  <span class="number-font">Temas</span>
              </div>
              <div class="col-md-12">
                <div class="col-md-6">
                  <h5>Temas leídos: {{topicRead}}</h5>
                  <h5>Total: {{totalTopic}}</h5>
                </div>
                <div class="col-md-6">
                  <div
                    round-progress
                    max="totalTopic"
                    current="topicRead"
                    color="#45ccce"
                    bgcolor="#eaeaea"
                    radius="50"
                    stroke="15"
                    semi="true"
                    rounded="true"
                    clockwise="true"
                    responsive="false"
                    duration="800"
                    animation="easeInOutQuart"
                    animation-delay="0">
                  </div>
                  <span class="pull-right" style="position:absolute;top: 27px;left: 48px;"><b ng-if="totalTopic!=0">{{topicRead/totalTopic*100}}%</b><b ng-if="totalTopic==0">{{0}}%</b></span>
                </div>

            </div>
            <div class="col-md-12">
              <div ui-tree class="ng-scope angular-ui-tree">
                  <ol ui-tree-nodes="" data-nodrop-enabled="true" ng-model="block" data-drag-enabled="false" class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes">
                      <li ng-repeat="unit in block.unitsX" data-nodrag="" ui-tree-node class="ng-scope angular-ui-tree-node" collapsed="true">
                          <div ui-tree-handle data-drag-enabled="false" class="ng-scope ng-binding angular-ui-tree-handle">
                              <a class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-right" ng-class="{&#39;glyphicon-chevron-right&#39;: collapsed, &#39;glyphicon-chevron-down&#39;: !collapsed}"></span></a>
                              <span class="hand" ng-click="toggle(this)">{{unit.get('number')}}- {{unit.get('title')}}</span>
                              <span ng-if="unit.seen" class="pull-right glyphicon glyphicon-ok"></span>
                              <span ng-if="unit.exam" style="margin-right:3px" class="pull-right glyphicon glyphicon-education">{{unit.exam.get('grade')}}</span>

                          </div>
                          <ol ui-tree-nodes="options" data-nodrop-enabled="true" ng-model="unit.topicsX" ng-class="{hidden: collapsed}" class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes hidden">
                              <li ng-repeat="topic in unit.topicsX" data-nodrag ui-tree-node="" class="ng-scope angular-ui-tree-node" collapsed="false">
                                  <div ui-tree-handle="" data-drag-enabled="tree.enabled" class="ng-scope ng-binding angular-ui-tree-handle">
                                      <span class="hand">{{unit.get('number')}}.{{topic.get('number')}}- {{topic.get('title')}}</span>
                                      <span ng-if="topic.seen" class="pull-right glyphicon glyphicon-ok"></span>

                                  </div>
                              </li>
                              <li ng-if="unit.seen && unit.exam" class="angular-ui-tree-node">
                                  <button ng-click="showExam(unit.exam)" class="btn btn-default btn3 btn2 btn-red btn-block"  data-toggle="modal" data-target="#toExamModal"><span class="pull-left glyphicon glyphicon-education" style="margin-top:8px"></span>Ver examen</button>
                              </li>
                          </ol>
                      </li>
                  </ol>
              </div>
            </div>
            <div class="row"></div>
          </div>

          </div>

          <div class="col-md-6">
            <div class="box" style="background-color: #F2F6F4">
                <div class="box-icon-2" style="width:125px; background-color: #227755">
                    <span class="number-font">Alumno</span>
                </div>
                <h4>{{student.get('lastName')}}, {{student.get('name')}}</h4>
                <h5>{{student.get('assignedTo').get('name')}}</h5>
                <h5>{{student.get('email')}}</h5>
            </div>
            <div class="box" style="background-color: #f6f6f2">
                <div class="box-icon-2" style="width:125px; background-color: #776722">
                    <span class="number-font">Promedio</span>
                </div>
                <h4>Examenes rendidos: {{allExams.length}} </h4>
                <h4 ng-if="passed.length > 0" >Aprobados: </h4>
                <h4 ng-if="passed.length == 0" >No hay exámenes aprobados</h4>
                <div ng-repeat="exam in passed">
                    <a ng-click="showExam(exam)"  data-toggle="modal" data-target="#toExamModal" style="cursor: pointer; margin-left: 5px">Unidad {{exam.get('unit').get('number')}}: {{exam.get('unit').get('title')}}   <span style="margin-left: 10px" class="glyphicon glyphicon-education">{{exam.get('grade')}}</span></a>
                </div>
                <h4 ng-if="disaproved.length > 0" >Desaprobados: </h4>
                <h4 ng-if="disaproved.length == 0" >No hay exámenes desaprobados</h4>
                <div ng-repeat="exam in disaproved">
                  <a ng-click="showExam(exam)"  data-toggle="modal" data-target="#toExamModal"style="cursor: pointer; margin-left: 5px">Unidad {{exam.get('unit').get('number')}}: {{exam.get('unit').get('title')}} <span style="margin-left: 10px" class="glyphicon glyphicon-education">{{exam.get('grade')}}</span></a>
                </div>
            </div>
            <!-- <h3 class="text-center">{{currentExam.get('grade')}}</h3>
            <p>Correctas: {{currentExam.get('correctsAnswers')}}</p>
            <p>Incorrectas: {{currentExam.get('incorrectsAnswers')}}</p>

            <div ng-repeat="answer in currentExam.answers">
              <div class="card flat-d">
              <div class="info">

                  <h5 class="text-center flat-p">{{answer.get('question').get('question')}}</h5>
                  <div class="card" ng-if="answer.get('question').get('trueAnswer') && answer.get('question').get('trueAnswer') == answer.get('answer')" style="background-color:#CEE1BA; margin:0">
                    <p class="flat-p" ><span  class="glyphicon glyphicon-check"></span> {{answer.get('question').get('trueAnswer')}}</p>
                  </div>
                  <p class="flat-p" ng-if="answer.get('question').get('trueAnswer') && answer.get('question').get('trueAnswer') != answer.get('answer')"><span  class="glyphicon glyphicon-check"></span> {{answer.get('question').get('trueAnswer')}}</p>

                  <div class="card" ng-if="answer.get('question').get('falseAnswer1') &&  answer.get('question').get('falseAnswer1') == answer.get('answer')" style="background-color:#E7D0D0; margin:0;">
                    <p class="flat-p"><span  class="glyphicon glyphicon-remove"></span> {{answer.get('question').get('falseAnswer1')}}</p>
                  </div>
                  <p class="flat-p" ng-if="answer.get('question').get('falseAnswer1') &&  answer.get('question').get('falseAnswer1') != answer.get('answer')"><span  class="glyphicon glyphicon-remove"></span> {{answer.get('question').get('falseAnswer1')}}</p>

                  <div class="card" ng-if="answer.get('question').get('falseAnswer2') &&  answer.get('question').get('falseAnswer2') == answer.get('answer')" style="background-color:#E7D0D0; margin:0;">
                    <p class="flat-p"><span  class="glyphicon glyphicon-remove"></span> {{answer.get('question').get('falseAnswer2')}}</p>
                  </div>
                  <p class="flat-p" ng-if="answer.get('question').get('falseAnswer2') &&  answer.get('question').get('falseAnswer2') != answer.get('answer')"><span  class="glyphicon glyphicon-remove"></span> {{answer.get('question').get('falseAnswer2')}}</p>

                  <div class="card" ng-if="answer.get('question').get('falseAnswer3') &&  answer.get('question').get('falseAnswer3') == answer.get('answer')" style="background-color:#E7D0D0; margin:0;">
                    <p class="flat-p"><span  class="glyphicon glyphicon-remove"></span> {{answer.get('question').get('falseAnswer3')}}</p>
                  </div>
                  <p class="flat-p" ng-if="answer.get('question').get('falseAnswer3') &&  answer.get('question').get('falseAnswer3') != answer.get('answer')"><span  class="glyphicon glyphicon-remove"></span> {{answer.get('question').get('falseAnswer3')}}</p>
              </div>
            </div>
          </div> -->

          </div>
        </div>
      </div>

      <!-- Modal -->
      <div id="toExamModal" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-bg order-modal">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Resultados del Examen</h4>
                  </div>

                  <div class="modal-body" style="background-color: #F6F2F4">
                      <h3 class="text-center">{{currentExam.get('grade')}}</h3>
                      <p>Correctas: {{currentExam.get('correctsAnswers')}}</p>
                      <p>Incorrectas: {{currentExam.get('incorrectsAnswers')}}</p>

                      <div ng-repeat="answer in currentExam.answers">
                        <div class="card flat-d">
                        <div class="info">

                            <h5 class="text-center flat-p">{{answer.get('question').get('question')}}</h5>
                            <div class="card" ng-if="answer.get('question').get('trueAnswer') && answer.get('question').get('trueAnswer') == answer.get('answer')" style="background-color:#CEE1BA; padding:4px;margin:0">
                              <p class="flat-p" ><span  class="glyphicon glyphicon-check"></span> <b>{{answer.get('question').get('trueAnswer')}}</b></p>
                            </div>
                            <p class="flat-p" ng-if="answer.get('question').get('trueAnswer') && answer.get('question').get('trueAnswer') != answer.get('answer')"><span  class="glyphicon glyphicon-check"></span> {{answer.get('question').get('trueAnswer')}}</p>

                            <div class="card" ng-if="answer.get('question').get('falseAnswer1') &&  answer.get('question').get('falseAnswer1') == answer.get('answer')" style="background-color:#E7D0D0; padding:4px;margin:0">
                              <p class="flat-p"><span  class="glyphicon glyphicon-remove"></span> <b>{{answer.get('question').get('falseAnswer1')}}</b></p>
                            </div>
                            <p class="flat-p" ng-if="answer.get('question').get('falseAnswer1') &&  answer.get('question').get('falseAnswer1') != answer.get('answer')"><span  class="glyphicon glyphicon-remove"></span> {{answer.get('question').get('falseAnswer1')}}</p>

                            <div class="card" ng-if="answer.get('question').get('falseAnswer2') &&  answer.get('question').get('falseAnswer2') == answer.get('answer')" style="background-color:#E7D0D0; padding:4px; margin:0">
                              <p class="flat-p"><span  class="glyphicon glyphicon-remove"></span> <b>{{answer.get('question').get('falseAnswer2')}}</b></p>
                            </div>
                            <p class="flat-p" ng-if="answer.get('question').get('falseAnswer2') &&  answer.get('question').get('falseAnswer2') != answer.get('answer')"><span  class="glyphicon glyphicon-remove"></span> {{answer.get('question').get('falseAnswer2')}}</p>

                            <div class="card" ng-if="answer.get('question').get('falseAnswer3') &&  answer.get('question').get('falseAnswer3') == answer.get('answer')" style="background-color:#E7D0D0; padding:4px;margin:0">
                              <p class="flat-p"><span  class="glyphicon glyphicon-remove"></span> <b>{{answer.get('question').get('falseAnswer3')}}</b></p>
                            </div>
                            <p class="flat-p" ng-if="answer.get('question').get('falseAnswer3') &&  answer.get('question').get('falseAnswer3') != answer.get('answer')"><span  class="glyphicon glyphicon-remove"></span> {{answer.get('question').get('falseAnswer3')}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

          </div>
      </div>

</div>
