<div class="column container-main">
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
            <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ error}}
        </div>
        <div class="alert alert-success alert-dismissable" role="alert" ng-show="success">
            <button class="close" ng-click="success = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Éxito!</strong>{{ success}}
        </div>


        <div class="col-md-12">


        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="box" style="background-color: #F6F2F4">
                <div class="box-icon-2" style="width:50%; background-color: #772244">
                    <span class="number-font">Bloque de Contenido</span>
                </div>
                <div class="info">
                    <h4 class="text-center">{{block.get('name')}}</h4>
                </div>
            </div>

          </div>

          <div class="col-md-6">
            <div class="box">
              <div class="box-icon-2">
                  <span class="number-font">Temas</span>
              </div>
              <div ui-tree class="ng-scope angular-ui-tree">
                  <ol ui-tree-nodes="" data-nodrop-enabled="true" ng-model="block" data-drag-enabled="false" class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes">
                      <li ng-repeat="unit in block.unitsX" data-nodrag="" ui-tree-node class="ng-scope angular-ui-tree-node" collapsed="true">
                          <div ui-tree-handle data-drag-enabled="false" class="ng-scope ng-binding angular-ui-tree-handle">
                              <a class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-right" ng-class="{&#39;glyphicon-chevron-right&#39;: collapsed, &#39;glyphicon-chevron-down&#39;: !collapsed}"></span></a>
                              <span class="hand" ng-click="toggle(this)">{{unit.get('number')}}- {{unit.get('title')}}</span>
                              <span ng-if="unit.seen" class="pull-right glyphicon glyphicon-ok"></span>
                              <span ng-if="unit.exam" class="pull-right glyphicon glyphicon-education">{{unit.exam.get('grade')}}</span>

                          </div>
                          <ol ui-tree-nodes="options" data-nodrop-enabled="true" ng-model="unit.topicsX" ng-class="{hidden: collapsed}" class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes hidden">
                              <li ng-repeat="topic in unit.topicsX" data-nodrag ui-tree-node="" class="ng-scope angular-ui-tree-node" collapsed="false">
                                  <div ui-tree-handle="" data-drag-enabled="tree.enabled" class="ng-scope ng-binding angular-ui-tree-handle">
                                      <span class="hand">{{unit.get('number')}}.{{topic.get('number')}}- {{topic.get('title')}}</span>
                                      <span ng-if="topic.seen" class="pull-right glyphicon glyphicon-ok"></span>

                                  </div>
                              </li>
                              <li ng-if="unit.seen && unit.exam" class="angular-ui-tree-node">
                                  <button ng-click="setUnitExam(unit)" class="btn btn-default btn3 btn2 btn-red btn-block"  data-toggle="modal" data-target="#toExamModal"><span class="pull-left glyphicon glyphicon-education" style="margin-top:8px"></span>Ver examen</button>
                              </li>
                          </ol>
                      </li>
                  </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
