
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
/*@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;*/

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.flat-p{
  padding-top:0px !important;
  padding-bottom: 0px !important;
  margin-top:1px !important;
  margin-bottom: 0px !important;
}
.flat-d{
  padding-top:5px !important;
  padding-bottom: 5px !important;
  margin-top:5px !important;
  margin-bottom: 5px !important;
}

/*body {
    padding: 0;
    font-family: "Roboto", sans-serif;
}*/

/*.navbar-default {
    margin-top: 20px;
    background: rgba(225, 228, 247, 0.5);
    border-radius: 0px;
    border: none;
}*/

/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: rgb(225, 228, 247) !important;
}*/

.navbar-default .navbar-toggle {
    border-color: transparent;
}

/*.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgb(225, 228, 247) !important;
}*/


.background-container {
    background-color: #eeeeee;
    /*background: url('../images/background-meat.png');
    background-position: 100% 0;
    background-size: 72%;
    background-repeat: no-repeat*/
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/*.container-narrow > hr {
    margin: 30px 0;
}

.container-main {
    background: url('../images/background-meat.png');
    background-position: 100% 0;
    background-size: 55%;
    background-repeat: no-repeat;
}

.container-main .h1-main {
    font-size: 48px;
    //font-family: "Titillium Web", sans-serif;
    letter-spacing: 6px;
}*/
/* Forms Editable */

/*.editable-wrap{
    width: 100%;
}

span.editable {
    border: 1px solid #dcdcdc;
    border-radius: 0;
    box-shadow: 0 2px 1px #ccc;
    padding: 7px;
    resize: none;
    transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;
    width: 100%;
    clear: both;
    display: inline-block;
}*/

/*Input style */
.signup-input input[type="text"],
.signup-input input[type="email"],
.signup-input input[type="password"],
.signup-input input[type="number"],
.signup-input select,
.login-input input[type="text"],
.login-input input[type="password"],
.offermeal-input input[type="text"],
.offermeal-input select,
.ordermeal-input p.form-control,
.createmeal-input input[type="text"],
.order-modal input[type="text"],
.createmeal-input input[type="file"],
.createmeal-input textarea,
.cancelorder-input textarea,
.order-modal textarea,
.editable-wrap .editable-controls input[type="text"]  {
    border-radius: 0px;
    padding: 7px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    -moz-box-shadow: 0px 2px 1px #CCC;
    -webkit-box-shadow: 0px 2px 1px #CCC;
    box-shadow: 0px 2px 1px #CCC;
    resize: none;
}


.ordermeal-input p.form-control {
    background-color: #eee;
    padding: 7px 10px 10px 10px;
}

.signup-input select,
.offermeal-input select {
    padding: 0px 10px 0px 6px;
}

/*.signup-input input[type="text"].form-control:focus,
.signup-input input[type="text"].form-control.focus,
.signup-input input[type="email"].form-control:focus,
.signup-input input[type="email"].form-control.focus,
.signup-input input[type="number"].form-control:focus,
.signup-input input[type="number"].form-control.focus,
.signup-input input[type="password"].form-control:focus,
.signup-input input[type="password"].form-control.focus,
.signup-input select.form-control:focus,
.signup-input select.form-control.focus,
.login-input input[type="text"].form-control:focus,
.login-input input[type="text"].form-control.focus,
.login-input input[type="password"].form-control:focus,
.login-input input[type="password"].form-control.focus,
.offermeal-input input[type="text"].form-control:focus,
.offermeal-input input[type="text"].form-control.focus,
.offermeal-input select.form-control:focus,
.offermeal-input select.form-control.focus,
.ordermeal-input input[type="text"].form-control:focus,
.ordermeal-input input[type="text"].form-control.focus,
.createmeal-input input[type="text"].form-control:focus,
.createmeal-input input[type="text"].form-control.focus,
.createmeal-input input[type="file"].form-control:focus,
.createmeal-input input[type="file"].form-control.focus,
.createmeal-input textarea.form-control:focus,
.createmeal-input textarea.form-control.focus,
.cancelorder-input textarea.form-control:focus,
.cancelorder-input textarea.form-control.focus,
.order-modal input[type="text"].form-control:focus,
.order-modal input[type="text"].form-control.focus, {
  -webkit-box-shadow: 0 0 5px 2px #969696;
  -moz-box-shadow: 0 0 5px 2px #969696;
  box-shadow: 0 0 5px 2px #969696;
  border: solid 1px #dcdcdc;
  outline: none;
}*/

.form-control:focus,
input.form-control:focus,
textarea.form-control:focus,
input.editable-input:focus {
    -webkit-box-shadow: 0 0 5px 2px #969696;
    -moz-box-shadow: 0 0 5px 2px #969696;
    box-shadow: 0 0 5px 2px #969696;
    border: solid 1px #dcdcdc;
    outline: none;
    resize: none;
}

::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: bold;
}

:-moz-placeholder {
    opacity: 1;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: bold;
}

::-moz-placeholder {
    opacity: 1;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: bold;
}

:-ms-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.offermeal-input span.input-group-addon,
.ordermeal-input span.input-group-addon {
    border-radius: 0;
    font-weight: bold;
    box-shadow: 0px 2px 1px #ccc;
    text-align: center;
}

.container-ordermeal div.order-image,
.container-offermeal div.offer-image,
.container-seller-home div.offer-image,
.container-myorders div.order-image,
.container-vieworders div.order-image,
.order-modal div.order-image,
.container-profile div.profile-image{
    width:100%;
    max-width: 400px;
    height:250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0px 2px 1px #ccc;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    position: relative;
}

.container-myorders div.order-image,
.container-vieworders div.order-image,
.container-seller-home div.offer-image  {
    height:150px;
}

.container-ordermeal div.order-image.not-available {
    opacity: .5;
}

.container-ordermeal p.not-available {
    background-color: rgba(0,0,0,.9);
    color: white;
    font-size: 24px;
    font-weight: bold;
    /*margin-top: 108px;*/
    position: relative;
    top: -142px;
    margin-bottom: -34px;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    line-height: 34px;
}

.container-signup h3,
.container-login h3,
.container-offermeal h3,
.container-createmeal h3,
.container-ordermeal h3,
.container-about h3,
.container-vieworders h3,
.container-myorders h3,
.container-main h3 {
   font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
}

.container-main h3.margin-top-0 {
    margin-top: 0px;
}

.container-profile h3{
    float: left;
}

/*.container-offermeal h4 {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.container-ordermeal h4.order-name,
.container-offermeal h4.offer-name,
.container-seller-home h4.offer-name,
.container-myorders h4.order-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2f4ffc;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 23px;
}

.container-seller-home h4.offer-num {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2f4ffc;
    font-size: 120px;
    margin: 0;
}

.container-ordermeal h5.order-seller,
.container-myorders h5.order-seller {
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-bottom: 4px;
}

.container-myorders h5.order-seller {
    margin-top: 5px;
}

.container-ordermeal p.order-description,
.container-offermeal p.offer-description,
.container-seller-home p.offer-description,
.container-vieworders p.order-description,
.container-myorders p.order-description {
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    height: 18px;
}

.container-vieworders p.order-description {
    margin-bottom: 5px;
}

.container-ordermeal p.order-description,
.container-offermeal p.offer-description {
    height:72px;
}

.container-ordermeal p.order-label,
.container-vieworders p.order-label,
.container-offermeal p.offer-label,
.container-seller-home p.offer-label,
.container-myorders p.order-label,
.order-modal p.order-label{
    font-size: 13px;
    font-weight: bold;
    color: #2f4ffc;
    margin-bottom: 0px;
}

.container-ordermeal h2.order-value,
.container-offermeal h2.offer-value,
.container-seller-home h2.offer-value,
.order-modal h2.order-value{
    font-weight: bold;
    color: #2f4ffc;
    margin-top: 0px;
}

/*Radio button style */
/*Register Form Radio Buttons*/
.radio, .checkbox, .radio {
  display: inline-block;
}

.radio label {
  padding-left: 0;
  padding-right: 15px;
}

.radio-label-text,
.checkbox-label-text {
  padding-top: 4%;
  display: inline-block;
  font-weight: bold;
}

.radio label:after,
.checkbox label:after {
   content: '';
   display: table;
   clear: both;
}
.radio .cr,
.checkbox .cr{
   -moz-box-shadow: 0px 2px 1px #CCC;
   -webkit-box-shadow: 0px 2px 1px #CCC;
   box-shadow: 0px 2px 1px #CCC;
   background-color: #FFF;
   position: relative;
   display: inline-block;
   border: 1px solid #dcdcdc;
   width: 34px;
   height: 34px;
   float: left;
   margin-right: .5em;
}
.radio .cr .cr-icon,
.checkbox .cr .cr-icon {
   color: #43A047;
   position: absolute;
   font-size: 1.45em;
   line-height: 0;
   top: 50%;
   left: 20%;
}
 .radio label input[type="radio"],
 .checkbox label input[type="radio"] {
   display: none;
}
 .radio label input[type="radio"] + .cr > .cr-icon,
 .checkbox label input[type="checkbox"] + .cr > .cr-icon {
   transform: scale(3) rotateZ(-20deg);
   opacity: 0;
   transition: all .3s ease-in;
}
 .radio label input[type="radio"]:checked + .cr > .cr-icon,
 .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
   transform: scale(1) rotateZ(0deg);
   opacity: 1;
}
 .radio label input[type="radio"]:disabled + .cr,
 .checkbox label input[type="checkbox"]:disabled + .cr {
   opacity: .5;
}

.container-signup .panel,
.container-login .panel,
.container-main .panel,
.container-offermeal .panel,
.container-ordermeal .panel,
.container-about .panel {
    background-color: rgba(233,233,233,0.7);
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-main .panel {
    margin-top: 20px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }


    .container-main .h1-main {
        font-size: 72px;
       font-family: 'Raleway', sans-serif;
        letter-spacing: 6px;
    }
}

#loading {
    position: absolute;
    left: 45%;
    top: 45%;
}

.container-main .p-main {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
}

.container-main .btn-default.btn3,
.container-signup .btn-default.btn3,
.container-login .btn-default.btn3,
.order-modal .btn-default.btn3,
.container-profile .btn-default.btn3{
    box-shadow: none;
    display: inline-block;
    padding: 0 85px 0 85px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0;
    text-shadow: none;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 0;
    background: #2f4ffc;
    -webkit-transition: background 0.35s;
    transition: background 0.35s;
}

.order-modal .btn-default.btn3.btn2,
.container-main .btn-default.btn3.btn2 {
    background: #EEE;
    color: #333;
    padding: 0;

}

.container-main .btn-default.btn3.btn2.color-blue {
    color: #2f4ffc;
}

.container-profile .btn-default.btn3{
    float: right;
    font-size: 15px;
    line-height: 25px;
    padding: 2px 20px;
    margin: 1em 0 0 0;
}

.container-main .btn-default.btn3.btn2 {
    padding: 0 15px 0 15px;
}

.container-offermeal .btn-default.btn3.btn2.btn2-small {
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px 0 5px;
}

.order-modal .btn-default.btn3{
    background: #FF3F82;
    padding:0;
}

.container-main .btn-default.btn3:hover,
.container-signup .btn-default.btn3:hover,
.container-login .btn-default.btn3:hover{
    background: #6D83FC;
}

.order-modal .btn-default.btn3.btn2:hover,
.container-main .btn-default.btn3.btn2:hover{
    background: #DDD;
}

/* MODALS PINK ! */
.order-modal .btn-default.btn3.btn2:hover,
.container-myorders .btn-default.btn3.btn2:hover {
    background: #aaa;
}
.order-modal .btn-default.btn3:hover{
    background: #B22C5B;
}
.order-modal .modal-header{
    background: #772244;
    color: #FFF;
}
.order-modal .modal-header .close{
    color: #FFF;
    opacity: 1;
    text-shadow: 0 1px 0 #555;
    margin-top: 2px;
}

.order-modal h4.modal-title{
    font-family: 'Roboto', sans-serif;
}

.order-modal p.order-label,
.order-modal h2.order-value,
.order-modal .order-name{
    color: #883355;
}

.order-modal p.order-label.blue{
    color:#2f4ffc;
}
.order-modal .order-name{
    font-weight: bold;
}

.order-modal .btn-default.btn3.minus{
    padding: 0 10px 0 10px;
    box-shadow: 0px 2px 1px #CCC;
    min-height: 20px;
}

.order-modal i{
    color: #FFF;
}
/* Modal WIDTH */
/*.order-modal input[type="text"]{
  margin-top: 5%;
  margin-bottom: 5%;

}*/
.order-modal .modal-content{
    border-radius: 0;


}


.container-main .btn-default.btn3:focus,
.container-signup .btn-default.btn3:focus,
.container-login .btn-default.btn3:focus,
.container-offermeal .btn-default.btn3:focus,
.container-ordermeal .btn-default.btn3:focus,
.container-createmeal .btn-default.btn3:focus,
.container-myorders .btn-default.btn3:focus,
.container-vieworders .btn-default.btn3:focus,
.order-modal .btn-default.btn3:focus {
    -webkit-box-shadow: 0 0 5px 2px #969696;
    -moz-box-shadow: 0 0 5px 2px #969696;
    box-shadow: 0 0 5px 2px #969696;
    outline: none;
}

.container-offermeal .btn-default.btn3.btn2.btn2-small:focus {
    -webkit-box-shadow: 0 0 2px 1px #969696;
    -moz-box-shadow: 0 0 2px 1px #969696;
    box-shadow: 0 0 2px 1px #969696;
    outline: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.container-main .p-main-login {
    font-family: "Lato", sans-serif;
    font-size: 13px;
}

.container-about p {
    font-size: 18px;
}

.container-main .p-main-login a {
    color: #000000;
}


/* GENERAL FOR ALL VIEWS */
/* IMAGE THUMBNAIL NOT ROUNDED */
.img-thumbnail {
    border-radius: 0;
}

/* ALERTS */
.alert {
    border-radius: 0px;
    border: none;
}

div.offer-line {
    width: 100%;
    height: 2px;
    background-color: #6D83FC;
    box-shadow: 0px 2px 1px #CCC;
    margin-bottom: 15px;
}

.container-myorders div.offer-line,
.container-vieworders div.offer-line  {
    margin-top: 5px;
}

.col-xs-6.left-button {
    padding-left: 0;
}

.col-xs-6.right-button {
    padding-right: 0;
}

.glyphicon.round-button {
    background-color: #2F4FFC;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 22px;
    vertical-align: middle;
    padding-top: 15px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    /*bottom: 10px;*/
    top: 79%;
}

.glyphicon.round-button:hover {
    background-color: #6D83FC;
}

.round-button input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.container-main .table td,
.container-main .table th {
    text-align: center;
}

.container-vieworders .uppercase-bold,
.container-myorders .uppercase-bold {
    font-weight: bold;
    text-transform: uppercase;
}


.container-main .table-header {
    background-color: #468499;
    border-color: transparent;
    color: #fff;
}

.container-myorders .td-button {
    padding-top: 3px;
    padding-bottom: 3px;
}

.container-myorders .td-button button.btn.btn-default.btn3.btn-block {
    line-height: 28px;
}

.order-modal .warning-note {
    text-transform: uppercase;
    font-style: italic;
    font-size: 13px;
    color: #B22C5B;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.padding-top-5px {
    padding-top: 5px;
}

.margin-top-15px {
    margin-top: 15px;
}

.width-130px {
    width: 130px;
}

.modal-dialog.order-modal {
    overflow: hidden;
}

.height-155px {
    height: 155px
}

.bold-modal{
    font-weight: bold;
}

.blue{
    color:#2f4ffc;
}

/* ----
-------FOR UI TREE
-------*/

.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
    cursor: default !important;

}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/* For
   Unit tittle and content
*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    margin-top: 60px;
    position: relative;
}
.box ul{
    padding:0;
}

.bg-blue{
  background-color: ##6A9CAD !important;
}
.bg-darkblue{
  background-color: #468499 !important;
}
.bg-red{
  background-color: #662244 !important;
}
.bg-darkred{
  background-color: #531C37 !important;
}

.top-corner {
    position: absolute;
    top: 5px;
    right: 0px;
}
.box-icon {
    font-size: 50px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #468499;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon-3 {
    font-size: 40px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #6A9CAD;
    border-radius: 50%;
    display: table;
    height: 80px;
    margin: 0 auto;
    width: 80px;
    margin-top: -61px;
}
.box-icon-4 {
    font-size: 20px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #6A9CAD;
    border-radius: 50%;
    height: 40px;
    margin: 0 auto;
    width: 40px;
    margin-top: -61px;
}
.box-icon-2 {
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #FFF;
    font-size: 25px !important;
    background-color: #468499;
    border-radius: 5%;
    display: table;
    height: 10px;
    margin: 0;
    margin-bottom:15px;
    width: 150px;
    margin-top: -35px;
}
.box-icon span,
.box-icon-3 span{
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;

}

.card{
/*  margin-bottom: 20px;
  border: 5px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .05);*/
  padding:1.5rem;
  box-shadow: 1px 2px 3px #bbb;
  background-color: rgba(255, 255, 255, .5);
  margin:0 1rem 1rem;
  border-radius:3px;
}


/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
	min-height: 70px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #3297C0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00b3fe;
	background-color: transparent;
}

.navbar-default {
	background-color: #384452;
	border-color: transparent;
}

.dropdown-menu {
	background: #384452;
  padding: 15px !important;
}

.dropdown-menu > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
	color: #ffffff;
	background-color: #222222;
	border-color: #ffffff;
}
.dmbutton {
	background:rgba(0, 0, 0, 0);
	border: 1px solid #ffffff;
	color: #ffffff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-top: 1.025rem;
	padding-right: 2.25rem;
	letter-spacing:0.85px;
	padding-bottom: 1.0875rem;
	padding-left: 2.25rem;
	font-size: 1.55rem;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
	font-weight: normal !important;
}

.mtb {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mb {
	margin-bottom: 60px;
}

.mt {
	margin-top: 60px;
}

.hline {
	border-bottom: 2px solid #384452;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
	* {
		margin: 0;
		padding: 0px;
	}

body {
	background: #ffffff;
	margin: 0;
	height: 100%;
	color: #384452;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

p {
	padding: 0;
	margin-bottom: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #384452;
	margin-top: 10px;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
/*
!!!!!!!!!!!!! END THEME
*/


.centered {
	text-align: center
}

.hand{
    cursor: pointer;
}
