<div class="column container-main">
    <div class="row">
        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
            <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ error}}
        </div>
        <div class="alert alert-success alert-dismissable" role="alert" ng-show="success">
            <button class="close" ng-click="success = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Éxito!</strong>{{ success}}
        </div>


        <div class="col-md-12">

            <div class="box" style="background-color: #F6F2F4">
                <div class="box-icon-2" style="width:50%; background-color: #772244">
                    <span class="number-font">Bloque de Contenido</span>
                </div>
                <div class="info">
                    <h4 class="text-center">{{block.get('name')}}</h4>
                    <p class="text-center">{{block.get('description')}}</p>
                </div>
                <!-- ADD FUNCTIONALITY! -->
                <div class="top-corner">
                  <a href="#/teacher/contents/"  class=" btn btn-default btn-xs">
                      <span  class="glyphicon glyphicon-arrow-left"></span>
                  </a>
                  <a data-toggle="modal" data-target="#editModalBlock" class=" btn btn-default btn-xs">
                      <span  class="glyphicon glyphicon-edit"></span>
                  </a>
                  <a data-toggle="modal" data-target="#deleteModalBlock" class="btn btn-danger btn-default btn-xs">
                      <span  class="glyphicon glyphicon-trash"></span>
                  </a>
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3">
                <div class="box" style="background-color: #F6F2F4">
                    <div class="box-icon-2 .bg-darkred" style="background-color: #772244">
                        <span class="number-font">Unidades</span>
                    </div>
                    <ul class="">
                        <li ng-repeat="unit in units" class="angular-ui-tree-node">
                            <div class="angular-ui-tree-handle" style="text-align: left">
                                <span style="font-size: 13px" class="hand" ng-click="showUnit($index)"> {{unit.get('number')}} - {{unit.get('title')}} </span>
                                <a data-toggle="modal" data-target="#deleteModal" class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="setUnitToDelete($index)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                <a class="pull-right btn btn-default btn-xs" data-nodrag="" href="#/teacher/contents/unitdetail/{{unit.id}}/0/{{blockId}}">
                                    <span  class="glyphicon glyphicon-list"></span>
                                </a>

                            </div>
                        </li>
                    </ul>
                    <button ng-disabled="editable" class="btn btn-default btn3 btn2 btn-block" ng-click="showCreatingUnit()">Nueva Unidad</button>
                </div>
            </div>

            <div class="col-md-9">

                <div class="box" >
                    <div ng-if="!creating" class="box-icon-3 .bg-red" style="background-color: #884466">
                        <span class="number-font">{{currentUnit.get('number')}}</span>
                    </div>

                    <div ng-if="creating" class="box-icon-3 .bg-red" style="background-color: #884466">
                        <span class="number-font"><span style="left: 53%" class="glyphicon glyphicon-edit"></span></span>
                    </div>


                    <div ng-if="!editable && !creating">
                        <h3 class="text-center">{{currentUnit.get('title')}}</h3>
                        <p>{{currentUnit.get('description')}}</p>
                    </div>

                    <div ng-if="!editable && !creating" class="top-corner">
                      <a  ng-click="switchEditMode($index)" class=" btn btn-default btn-xs">
                          <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-default btn-xs" data-nodrag="" href="#/teacher/contents/unitdetail/{{currentUnit.id}}/0/{{blockId}}">
                           <span  class="glyphicon glyphicon-list"></span>
                      </a>
                      <a data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-default btn-xs">
                          <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </div>
                    <div data-toggle="modal" data-target="#cancelModal" ng-if="editable" class="top-corner">
                      <a class=" btn btn-default btn-xs">
                          <span class="glyphicon glyphicon-remove"></span>
                      </a>
                    </div>
                    <div ng-if="creating" class="top-corner">
                      <a data-toggle="modal" data-target="#cancelModal" class=" btn btn-default btn-xs">
                          <span class="glyphicon glyphicon-remove"></span>
                      </a>
                    </div>

                    <div ng-if="creating">
                        <div class="form-group signup-input">
                            <p class="order-label"><strong>Numero de Unidad</strong></p>
                            <input type="number" class="form-control" ng-model="newNumber" required>
                        </div>
                        <div class="form-group signup-input">
                            <p class="order-label"><strong>Título</strong></p>
                            <input type="text" class="form-control" ng-model="newTitle" required>

                        </div>
                        <p class="order-label"><strong>Descripción</strong></p>
                        <div class="form-group createmeal-input">
                            <textarea class="form-control" ng-model="newDescription" maxlength="400"></textarea>
                        </div>
                        <!--
                        <div>
                            <div text-angular="text-angular" name="htmlcontent" ng-model="newContent" ta-disabled='false'></div>

                        </div>
                        -->
                        <div class="row">
                          <div class="col-md-6">
                            <button class="btn btn-default btn3 btn2 btn-red btn-block" ng-click="createNewUnit(newNumber, newTitle, newDescription)">Crear Unidad</button>
                          </div>
                          <div class="col-md-6">
                            <button class="btn btn-default btn3 btn2 btn-red btn-block"  data-toggle="modal" data-target="#cancelModal">Cancelar</button>
                          </div>
                        </div>

                    </div>

                    <div ng-if="editable && !creating" class="not-available">

                        <h2><span class="glyphicon glyphicon-edit"></span> EDICIÓN</h2>
                    </div>
                    <div ng-if="editable && !creating">
                        <div class="form-group signup-input">
                            <p class="order-label"><strong>Numero de Unidad</strong></p>
                            <input type="number" class="form-control" ng-model="currentNumber" required>
                        </div>
                        <div class="form-group signup-input">
                            <p class="order-label"><strong>Título</strong></p>
                            <input type="text" class="form-control" ng-model="currentTitle" required>
                        </div>
                        <p class="order-label"><strong>Descripción</strong></p>
                        <div class="form-group createmeal-input">
                        <textarea class="form-control" ng-model="currentDescription" maxlength="400"></textarea>
                      </div>
                        <!--
                        <div>
                            <div text-angular="text-angular" name="htmlcontent" ng-model="newContent" ta-disabled='false'></div>

                        </div>
                        -->
                        <div class="row">
                          <div class="col-md-6">
                            <button class="btn btn-default btn3 btn2 btn-red btn-block" ng-click="saveEditedUnit(currentNumber, currentTitle, currentDescription)">Guardar</button>
                          </div>
                          <div class="col-md-6">
                            <button class="btn btn-default btn3 btn2 btn-red btn-block" data-toggle="modal" data-target="#cancelModal">Cancelar</button>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODALS SECTION -->

<!-- Modal -->
<div id="cancelModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm order-modal">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cancelar cambios?</h4>
            </div>
            <div class="modal-body">
                <p>¿Seguro que quieres descartar los cambios realizados y volver a la pantalla anterior?</p>
            </div>
            <div class="modal-footer">
              <div class="col-xs-6">
                <button type="button" ng-click="cancelEdition()" class="btn btn-default btn-block btn3 btn2" data-dismiss="modal">Si</button>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">No</button>
              </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="editModalBlock" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm order-modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorDelete">
                <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> {{ errorDelete}}
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Bloque de Contenido</h4>
            </div>
            <div class="modal-body">
              <div class="form-group signup-input">
                  <p class="order-label"><strong>Nombre</strong></p>
                  <input type="text" class="form-control" ng-model="blockName" required>
              </div>
              <p class="order-label"><strong>Descripción</strong></p>
              <div class="form-group createmeal-input">
                  <textarea class="form-control" ng-model="blockDescription" maxlength="400"></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <div class="col-xs-6">
                <button type="button" ng-click="modifyBlock(blockName, blockDescription)" class="btn btn-default btn3 btn2 btn-block">Guardar</button>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
        </div>
    </div>
</div>


<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm order-modal">

        <!-- Modal content-->
        <div ng-if="!isDeleted" class="modal-content">
            <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorDelete">
                <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> {{ errorDelete}}
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro que quieres eliminar esta Unidad?</p>
            </div>
            <div class="modal-footer">
              <div class="col-xs-6">
                <button type="button" ng-click="deleteUnit()" class="btn btn-default btn-block btn3 btn2">Eliminar</button>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
        </div>
    </div>
</div>


<div id="deleteModalBlock" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm order-modal">

        <!-- Modal content-->
        <div ng-if="!isDeleted" class="modal-content">
            <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorDelete">
                <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> {{ errorDelete}}
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro que quieres eliminar el Bloque Completo?</p>
            </div>
            <div class="modal-footer">
              <div class="col-xs-6">
                <button type="button" ng-click="deleteBlock()" class="btn btn-default btn3 btn2 btn-block">Eliminar</button>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
        </div>
    </div>
</div>
