<div class="column container-main">
    <div class="row">
        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
            <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ error}}
        </div>
        <div class="alert alert-success alert-dismissable" role="alert" ng-show="success">
            <button class="close" ng-click="success = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Éxito!</strong> {{ success}}
        </div>

        <div class="col-md-12">
            <h2>Preguntas de exámenes</h2>
        </div>

        <div class="col-md-12">
            <div class="box" style="background-color: #F5F8F9">

                <div class="box-icon bg-darkblue">
                    <span class="number-font">{{unit.get('number')}}</span>
                </div>
                <div class="info">
                    <h4 class="text-center">{{unit.get('title')}}</h4>
                    <p>{{unit.get('description')}}</p>
                </div>
   
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group signup-input">
                            <h4>Total de preguntas: {{allQuestion.length}}</h4>
                            <p class="order-label inline-block"><strong>Cantidad de preguntas incluídas: </strong></p>
                            <input type="number" id="quantity" class="form-control text-center" style="padding-left:10px;" ng-model="unit.quantity" required>
                        </div>
                        <div class="form-group signup-input">
                            <p class="order-label inline-block"><strong>Tiempo límite del examen en minutos: </strong></p>
                            <input type="number" class="form-control text-center" id="minutes" style="padding-left:10px;" ng-model="unit.minutes" required>
                        </div>



                        <!--<div class="form-group signup-input">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h4>Total de preguntas: {{allQuestion.length}}</h4>
                    </div>
                    <div class="col-md-4">
                        <p class="order-label inline-block"><strong>Cantidad de preguntas incluídas: </strong></p>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control text-center" ng-model="$scope.quantity" required>
                    </div>
                </div>
            </div>-->
                        <div class="form-group signup-input">
                            <div class="checkbox">
                                <label style="padding-left:0px">
                                    <input type="checkbox" ng-model="unit.takeExam" style="display:none">

                                    <span class="cr">
                                        <i class="cr-icon fa fa-check"></i>
                                    </span>
                                    <span class="checkbox-label-text">Permitir a los alumnos rendir el examen de esta unidad</span>
                                </label>
                            </div>
                        </div>
                        <button ng-click="saveSettings(unit.quantity,unit.takeExam, unit.minutes)" type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Guardar</button>
                        
                    </div>
                    <br />

                    <div class="col-md-6">
                        <div class="card">
                            <span class="glyphicon glyphicon-info-sign"></span> Agregá preguntas para el examen perteneciente a esta unidad.
                            Seleccioná la cantidad de preguntas a incluir en los exámenes que rindan tus alumnos.
                            <br />
                            <span class="glyphicon glyphicon-info-sign"></span> Las preguntas se escogerán aleatoriamente y el orden de las opciones se mezclarán.
                            <br />
                            <span class="glyphicon glyphicon-info-sign"></span> Debés activar el examen para que los alumnos puedan acceder a rendir el examen asociado a la unidad.
                        </div>
                    </div>
                </div>
                    <!--<div class="form-group signup-input">
            <p class="order-label"><strong>Permitir a los alumnos rendir el examen de esta unidad </strong></p>
            <input type="text" class="form-control" id="signup-name" ng-model="form.name" required>
        </div>-->


                    <div class="top-corner">
                        <a href="#/teacher/contents/blockdetail/{{blockId}}/{{unitId}}" class=" btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-arrow-left" tooltips tooltip-template="Volver a la pantalla de edición de la unidad"></span>
                        </a>
                    </div>
                <div class="row"></div>
                </div>

        </div>

        <div class="col-md-12">
            <div class="box" style="background-color: #DCE7EA">

              <div class="box-icon-2 bg-darkblue">
                  <span class="number-font">Preguntas</span>
              </div>
              <br />
        
              <button type="button" data-toggle="modal" data-target="#addModalQuestion" style="margin-bottom:10px" class="btn btn-default btn3 btn2 btn-block">Nueva pregunta</button>
              <br />
              <div ng-repeat="question in allQuestion">
                <div class="card flat-d">
                    <a class="pull-right btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal" ng-click="setQuestionEdit(question)">
                        <span class="glyphicon glyphicon-remove" tooltips tooltip-template="Eliminar esta pregunta" style="cursor: pointer"></span>
                    </a>
                  <a class="pull-right btn btn-default btn-xs" data-toggle="modal" data-target="#editModalQuestion" ng-click="setQuestionEdit(question)">
                      <span  class="glyphicon glyphicon-edit" style="cursor: pointer" tooltips tooltip-template="Editar esta pregunta"></span>
                  </a>
        
                <div class="info">

                    <h5 class="text-center flat-p">{{question.get('question')}}</h5>
                    <p class="flat-p"><span  class="glyphicon glyphicon-check"></span> {{question.get('trueAnswer')}}</p>
                    <p class="flat-p" ng-if="question.get('falseAnswer1')"><span  class="glyphicon glyphicon-remove"></span> {{question.get('falseAnswer1')}}</p>
                    <p class="flat-p" ng-if="question.get('falseAnswer2')"><span  class="glyphicon glyphicon-remove"></span> {{question.get('falseAnswer2')}}</p>
                    <p class="flat-p" ng-if="question.get('falseAnswer3')"><span  class="glyphicon glyphicon-remove"></span> {{question.get('falseAnswer3')}}</p>
                </div>
                <div class="top-corner">

                </div>
              </div>
            </div>

            </div>
        </div>
      </div>

      <!-- Modal -->
      <div id="editModalQuestion" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-bg order-modal">
              <!-- Modal content -->
              <div class="modal-content">
                  <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorDelete">
                      <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                      <strong>Error!</strong> {{ errorDelete}}
                  </div>
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Editar Pregunta</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group signup-input card" style="background-color:#EEE">
                        <p class="order-label"><strong>Pregunta</strong></p>
                        <textarea class="form-control" ng-model="setQuestion.question" maxlength="400"></textarea>
                    </div>
                    <div class="card" style="background-color: #CEE1BA">
                      <div class="form-group createmeal-input" >
                          <p class="order-label" style="color: #292D25"><span class="glyphicon glyphicon-check"></span><strong> Respuesta correcta</strong></p>
                          <textarea class="form-control" ng-model="setQuestion.trueAnswer" maxlength="400"></textarea>
                      </div>
                    </div>
                    <div class="card" style="background-color: #E7D0D0">
                      <div class="form-group createmeal-input">
                          <p class="order-label"><span class="glyphicon glyphicon-remove"></span><strong> Respuestas incorrectas</strong></p>
                          <textarea class="form-control" ng-model="setQuestion.falseAnswer1" maxlength="400"></textarea>
                      </div>
                      <div class="form-group createmeal-input">
                          <textarea class="form-control" ng-model="setQuestion.falseAnswer2" maxlength="400"></textarea>
                      </div>
                      <div class="form-group createmeal-input">
                          <textarea class="form-control" ng-model="setQuestion.falseAnswer3" maxlength="400"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12" style="margin-top: 10px">
                      <div class="col-xs-6">
                        <button type="button" ng-click="saveQuestion(setQuestion)" class="btn btn-default btn3 btn2 btn-block">Guardar</button>
                      </div>
                      <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>

      <div id="addModalQuestion" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-bg order-modal">
              <!-- Modal content -->
              <div class="modal-content">
                  <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorDelete">
                      <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                      <strong>Error!</strong> {{ errorDelete}}
                  </div>
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Crear pregunta</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group signup-input card" style="background-color: #EEE">
                        <p class="order-label"><strong>Pregunta</strong></p>
                        <textarea class="form-control" ng-model="newQuestion.question" maxlength="400"></textarea>
                    </div>
                    <div class="card" style="background-color: #CEE1BA">
                      <div class="form-group createmeal-input" >
                          <p class="order-label" style="color: #292D25"><strong>Respuesta correcta</strong></p>
                          <textarea class="form-control" ng-model="newQuestion.trueAnswer" maxlength="400"></textarea>
                      </div>
                    </div>
                    <div class="card" style="background-color: #E7D0D0">
                      <div class="form-group createmeal-input">
                          <p class="order-label"><strong>Respuestas incorrectas</strong></p>
                          <textarea class="form-control" ng-model="newQuestion.falseAnswer1" maxlength="400"></textarea>
                      </div>
                      <div class="form-group createmeal-input">
                          <textarea class="form-control" ng-model="newQuestion.falseAnswer2" maxlength="400"></textarea>
                      </div>
                      <div class="form-group createmeal-input">
                          <textarea class="form-control" ng-model="newQuestion.falseAnswer3" maxlength="400"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12" style="margin-top: 10px">
                      <div class="col-xs-6">
                        <button type="button" ng-click="addQuestion(newQuestion)" class="btn btn-default btn3 btn2 btn-block">Guardar</button>
                      </div>
                      <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Modal -->
      <div id="deleteModal" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-sm order-modal">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorDelete">
                      <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                      <strong>Error!</strong> {{ errorDelete}}
                  </div>
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmar eliminación</h4>
                  </div>
                  <div class="modal-body">
                      <p>¿Estas seguro que quieres eliminar esta pregunta?</p>
                  </div>
                  <div class="modal-footer">
                      <div class="col-xs-6">
                      <button type="button" ng-click="deleteQuestion(setQuestion)" class="btn btn-default btn3 btn2 btn-block">Eliminar</button>
                    </div>
                      <div class="col-xs-6">
                      <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Volver</button>
                    </div>
                  </div>
              </div>

              <!-- <div ng-if="isDeleted" class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Confirmar eliminación</h4>
                  </div>
                  <div class="modal-body">
                      <p>Se ha eliminado Correctamente</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  </div>
              </div> -->

          </div>
      </div>






    </div>
