

<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Edición de tópico</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
                            <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
                            <strong>Error!</strong> {{ error }}
                        </div>
                    </div>
                </div>

                <!--<div class="container app">
                    <h3>Editor</h3>
                    <button class="btn btn-default btn3" ng-click="disabled = !disabled" unselectable>Editar</button>
                    <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
                </div>-->

                <div ng-if="!edited">
                    <div class="container app">
                        <h1>Editor</h1>
                        <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='false'></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" ng-click="doCancel()" class="btn btn-default btn3 btn-block">Confirmar</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" ng-click="close()" class="btn btn-default btn3 btn2 btn-block">Cerrar</button>
                        </div>
                    </div>

                    <div ng-app="textAngularTest" ng-controller="wysiwygeditor" class="container app">
                        <h1>Editor</h1>
                        <button ng-click="disabled = !disabled" unselectable>Disable text-angular Toggle</button>
                        <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
                        <h1>Raw HTML in a text area</h1>
                        <textarea ng-model="htmlcontent" style="width: 100%"></textarea>
                        <h1>Bound with ng-bind-html</h1>
                        <div ng-bind-html="htmlcontent"></div>
                        <h1>Bound with ta-bind, our internal html-binding directive</h1>
                        <div ta-bind="text" ng-model="htmlcontent" ta-readonly='disabled'></div>
                        <button type="button" ng-click="htmlcontent = orightml">Reset</button>
                        <p>Note: although we support classes and styles, angularjs' ng-bind-html directive will strip out all style attributes.</p>
                        <h1>Option to masquerade as a fancy text-area - complete with form submission and optional ngModel</h1>
                        <text-angular name="htmlcontent" ng-model="htmlcontenttwo">
                            <p>Any <b>HTML</b> we put in-between the text-angular tags gets automatically put into the editor if there <strong style="font-size: 12pt;"><u><em>is not</em></u></strong> a value assigned to the ngModel.</p>
                            <p>If there is a value assigned to the ngModel, it replaces any html here. To see this, uncomment the line at the bottom of demo.html</p>
                        </text-angular>
                        <h1>Bound with ta-bind, our internal html-binding directive</h1>
                        <div ta-bind="text" ng-model="htmlcontenttwo" ta-readonly='disabled'></div>
                    </div>

                </div>
                
                <div ng-if="edited">
                    <p>Se edito todo lindo</p>
                </div>
        </div>
    </div>
    </div>




