<div class="container">
    <div class="row">
        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
            <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ error }}
        </div>

        <div class="col-md-3">
            <div class="box">
                <div class="box-icon-2">
                    <span class="number-font">Tópicos</span>
                </div>
                <ul class="">
                    <li ng-repeat="topic in topics" class="angular-ui-tree-node">
                        <div class="angular-ui-tree-handle" style="text-align: left">
                            <span ng-click="showTopic($index)"> {{topic.number}} - {{topic.title}} </span>
                            <a class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="show(unit.objectId)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a class="pull-right btn btn-default btn-xs" data-nodrag="" href="#/teacher/contents/unitdetail/{{unit.objectId}}">
                                <span ng-click="showEditModal($index)" class="glyphicon glyphicon-edit"></span>
                            </a>

                        </div>
                    </li>
                </ul>
                <button ng-if="!editable" class="btn btn-default" ng-click="showCreatingTopic()">Nuevo Topico</button>
            </div>
        </div>
        <div class="col-md-9">

            <div class="box">
                <div class="box-icon">
                    <span class="number-font">{{unit.number}}</span>
                </div>
                <div class="info">
                    <h4 class="text-center">{{unit.title}}</h4>
                    <p>{{unit.description}}</p>
                </div>
            </div>

            <div class="box">
                <div class="box-icon-3">
                    <span class="number-font">{{currentTopic.number}}</span>
                </div>

                <div>
                    <h3 class="text-center">{{currentTopic.title}}</h3>
                    <p>{{currentTopic.description}}</p>

                </div>
                <button ng-if="!editable && !creating" ng-click="switchEditMode()" class="btn btn-default btn3">Editar Contenido</button>


                <div ng-if="!editable && !creating">
                    <div ta-bind="text" ng-model="currentTopic.content" ta-readonly='disabled'></div>s
                </div>

                <div ng-if="editable && !creating">
                    <div text-angular="text-angular" name="htmlcontent" ng-model="currentTopic.content" ta-disabled='false'></div>
                    <div>
                        <button ng-click="saveEditedTopic()" class="btn btn-default btn3">Guardar Cambios</button>
                        <button ng-click="cancelEdition()" class="btn btn-default">Cancelar Cambios</button>
                    </div>
                </div>

                <div ng-if="creating">
                    <div class="form-group signup-input">
                        <p class="order-label"><strong>Numero de tópico</strong></p>
                        <input type="number" class="form-control" ng-model="newNumber" required>
                    </div>
                    <div class="form-group signup-input">
                        <p class="order-label"><strong>Título</strong></p>
                        <input type="text" class="form-control" ng-model="newTitle" required>
                        <p>{{newNumber}}</p>
                    </div>
                    <p class="order-label"><strong>Editor de contenido</strong></p>
                    <div>
                        <div text-angular="text-angular" name="htmlcontent" ng-model="newContent" ta-disabled='false'></div>

                    </div>
                    <button class="btn btn-default" ng-click="createNewTopic(newNumber,newTitle,newContent)">Crear Nuevo Topico</button>
                </div>

            </div>
        </div>
    </div>
</div>

