
<div class="column container-main">
    <div class="row">
        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
            <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ error}}
        </div>
        <div class="alert alert-success alert-dismissable" role="alert" ng-show="success">
            <button class="close" ng-click="success = ''"><span aria-hidden="true">&times;</span></button>
            <strong>Éxito!</strong> {{ success}}
        </div>

        <div class="col-md-12">
            <h2>CLASES</h2>
        </div>

        <div class="col-md-12">
            <div class="box" style="background-color: #F5F8F9">

                <div class="box-icon bg-darkblue">
                    <span class="number-font">{{currentUnit.get('number')}}</span>
                </div>
                <div class="info">
                    <h4 class="text-center">{{currentUnit.get('title')}}</h4>
                    <p>{{currentUnit.get('description')}}</p>
                </div>

                <div ng-if="currentUnit.seen" class="top-corner">
                    <span  style="color: #529C52; font-size: 30px; margin-right: 5px;" class="glyphicon glyphicon-ok-sign"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3">
                <div class="box" style="background-color: #F5F8F9">
                    <div class="box-icon-2 bg-darkblue">
                        <span class="number-font">Temas</span>
                    </div>

                    <div ui-tree class="ng-scope angular-ui-tree">
                        <ol ui-tree-nodes="" data-nodrop-enabled="true" ng-model="block" data-drag-enabled="false" class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes">
                            <li ng-repeat="unit in block.unitsX" data-nodrag="" ui-tree-node class="ng-scope angular-ui-tree-node" collapsed="true">
                                <div ui-tree-handle data-drag-enabled="false" class="ng-scope ng-binding angular-ui-tree-handle">
                                    <a class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-right" ng-class="{&#39;glyphicon-chevron-right&#39;: collapsed, &#39;glyphicon-chevron-down&#39;: !collapsed}"></span></a>
                                    <span class="hand" ng-click="toggle(this)">{{unit.get('number')}}- {{unit.get('title')}}</span>
                                    <span ng-if="unit.seen" class="pull-right glyphicon glyphicon-ok"></span>
                                    <!--<a class="pull-right btn btn-success btn-xs" data-nodrag="" ng-click="show(unit.objectId)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>-->
                                </div>
                                <ol ui-tree-nodes="options" data-nodrop-enabled="true" ng-model="unit.get('topics')" ng-class="{hidden: collapsed}" class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes hidden">
                                    <li ng-repeat="topic in unit.topicsX" data-nodrag ui-tree-node="" class="ng-scope angular-ui-tree-node" collapsed="false">
                                        <div ui-tree-handle="" data-drag-enabled="tree.enabled" class="ng-scope ng-binding angular-ui-tree-handle">
                                            <span ng-click="showTopic(unit.id,$index)" class="hand">{{unit.get('number')}}.{{topic.get('number')}}- {{topic.get('title')}}</span>
                                            <span ng-if="topic.seen" class="pull-right glyphicon glyphicon-ok"></span>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                        <div ng-if="currentUnit.seen" class="col-md-12">
                              <button class="btn btn-default btn3 btn2 btn-red btn-block" data-toggle="modal" data-target="#toExamModal">Rendir Examen</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">

                <div class="box">
                    <div class="box-icon-3">
                        <span class="number-font">{{currentTopic.get('number')}}</span>
                    </div>
                    <div ng-if="creating" class="box-icon-3">
                        <span class="number-font"><span style="left: 53%" class="glyphicon glyphicon-plus"></span></span>
                    </div>

                    <div>
                        <h3 class="text-center">{{currentTopic.get('title')}}</h3>
                    </div>
                    <div>
                        <div ta-bind="text" ng-model="currentContent" ta-readonly='disabled'></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <button ng-if="!currentTopic.seen" data-toggle="modal" data-target="#seenModal" class="btn btn-default btn3 btn2 btn-red btn-block"><span ng-if="!topic.seen" class="pull-right glyphicon glyphicon-ok"></span>Marcar como leído</button>
                      </div>
                      <div class="col-md-6">

                      </div>
                    </div>

                    <div ng-if="currentTopic.seen" class="top-corner">
                      <span  style="color: #529C52; font-size: 30px; margin-right: 5px;" class="glyphicon glyphicon-ok-sign"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODALS SECTION -->

<!-- Modal -->
<div id="seenModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm order-modal">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Marcar como leído</h4>
            </div>
            <div class="modal-body">
                <p>¿Has terminado de leer este tema?</p>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                <button type="button" ng-click="markAsRead()" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Si</button>
              </div>
                <div class="col-xs-6">
                <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">No</button>
              </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm order-modal">

        <!-- Modal content-->
        <div ng-if="!isDeleted" class="modal-content">
            <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorDelete">
                <button class="close" ng-click="errorDelete = ''"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> {{ errorDelete}}
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro que quieres eliminar este Tema?</p>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                <button type="button" ng-click="deleteTopic()" class="btn btn-default btn3 btn2 btn-block">Eliminar</button>
              </div>
                <div class="col-xs-6">
                <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Volver</button>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="toExamModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm order-modal">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comenzar Examen</h4>
            </div>
            <div class="modal-body">
                <p>Estas a punto de realizar el examen</p>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                <button type="button" ng-click="markAsRead()" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Rendir</button>
              </div>
                <div class="col-xs-6">
                <button type="button" class="btn btn-default btn3 btn2 btn-block" data-dismiss="modal">Salir</button>
              </div>
            </div>
        </div>

    </div>
</div>

</div>
