<div class="col-md-12">
    <h3>Acerca de Coda</h3>
</div>

<div class="col-md-12">
  <div class="box" style="background-color: #F5F8F9">
    <p>El presente proyecto se desarrolló teniendo en cuenta los pilares del e-learning y la aparición crecientes de plataformas educativas, tanto en instituciones de enseñanza, ámbito académico o simplemente el autoaprendizaje desde el hogar o desde cualquier sitio donde fuera posible una conexión a Internet. La plataforma desarrollada apunta a convertirse una herramienta que facilita la tarea del docente o dictante en cuanto al manejo de contenido y dictado de cursos.</p>
    <p>Las tecnologías actualmente usadas para el desarrollo:</p>
    <ul class="list-group" style="width:100px">
      <li class="list-group-item"><a href="https://angularjs.org/">Angular Js</a></li>
      <li class="list-group-item"><a href="https://nodejs.org/en/">Node Js</a></li>
      <li class="list-group-item"><a href="http://gruntjs.com/">Grunt Js</a></li>
      <li class="list-group-item"><a href="http://yeoman.io/">Yeoman</a></li>
      <li class="list-group-item"><a href="https://parse.com/">Parse</a></li>
    </ul>
  </div>
</div>
