
<div ng-controller="NavbarCtrl" >
	  <div class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	      <div class="navbar-header">

	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
                  
                  <a class="navbar-brand" href="#/" style="position: relative; width: 100px">
                          <img style="width: 65%;position: absolute;bottom: -10px;" src="../images/logo-coda.png" alt=""/>
                  </a>
	      </div>

	      <div class="collapse navbar-collapse" id="js-navbar-collapse">

	        <ul class="nav navbar-nav">
	          <li ng-class="{active: isActive('/teacher/contents')}" ng-show="isTeacher"><a href="#/teacher/contents">CONTENIDOS</a></li>
	          <!--<li ng-class="{active: isActive('/')}" ng-show="!isSeller"><a href="#/">Inicio</a></li>-->
	          <li ng-class="{active: isActive('/teacher/exams')}" ng-show="isTeacher"><a href="#/teacher/exams">MIS EXÁMENES</a></li>
	          <li ng-class="{active: isActive('/teacher/mystudents')}" ng-show="isTeacher"><a href="#/teacher/mystudents">MIS ALUMNOS</a></li>
	          <li ng-class="{active: isActive('/student/contents/mycontent')}" ng-show="isStudent"><a href="#/student/contents/mycontent">MIS CLASES</a></li>
	          <li ng-class="{active: isActive('/student/exams')}" ng-show="isStudent"><a href="#/student/exams">EXÁMENES</a></li>
	          <li ng-class="{active: isActive('/about')}"><a href="#/about">ACERCA DE</a></li>
	        </ul>

	        <ul class="nav navbar-nav navbar-right">
	          <li ng-class="{active: isActive('/login')}" ng-hide="isLoggedIn"><a href="#/login">INICIAR SESIÓN</a></li>
	          <li ng-class="{active: isActive('/signup')}" ng-hide="isLoggedIn"><a href="#/signup">REGISTRARTE</a></li>
	          <li ng-class="{active: isActive('/logout')}" ng-show="isLoggedIn"><a href="#/logout">CERRAR SESIÓN</a></li>
	          <li ng-class="{active: isActive('/profile')}" ng-show="isLoggedIn"><a href="#/user/profile">HOLA {{ actUser.name }} <span class="glyphicon glyphicon-user"></span></a></li>
			</ul>

	      </div>
	    </div>
	  </div>
</div>
