<div class="container container-signup">
    
    <div class="row">
        <div class="col-md-12">
            <h3>CREAR CUENTA</h3>
        </div>
    </div>
    <div class="row">
        <form ng-submit="doSignUp()">
            <div class="col-md-12">

            <div class="alert alert-danger alert-dismissable" role="alert" ng-show="error">
                <button class="close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> {{ error }}
            </div>

            <p><strong>Elegí tu perfil</strong></p>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="seller" ng-model="form.isSeller" ng-value="false" checked>
                            <span class="cr">
                                <i class="cr-icon fa fa-check"></i>
                            </span>
                            <span class="radio-label-text">Soy Alumno</span> 
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="seller" ng-model="form.isSeller" ng-value="true">
                            <span class="cr">
                                <i class="cr-icon fa fa-check"></i>
                            </span>
                            <span class="radio-label-text">SOy Profesor</span> 
                        </label>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group signup-input">
                         <p class="order-label"><strong>Nombre de usuario</strong></p>
                        <input type="text" class="form-control" id="signup-username" ng-model="form.username"  required>
                    </div>
                    <div class="form-group signup-input">
                         <p class="order-label"><strong>E-Mail</strong></p>
                        <input type="email" class="form-control" id="signup-email" ng-model="form.email"  required>
                    </div>
                    <div class="form-group signup-input">
                        <p class="order-label"><strong>Contraseña</strong></p>
                        <input type="password" class="form-control" id="signup-password" ng-model="form.password" required>
                    </div>
                    <div class="form-group signup-input">
                        <p class="order-label"><strong>Confirmar contraseña</strong></p>
                        <input type="password" class="form-control" id="signup-confirmPassword" ng-model="form.confirmPassword" required>
                    </div>
                    <div class="form-group signup-input">
                    <p class="order-label"><strong>Nombre</strong></p>
                        <input type="text" class="form-control" id="signup-name" ng-model="form.name"  required>
                    </div>
                    <div class="form-group signup-input">
                        <p class="order-label"><strong>Apellido</strong></p>
                        <input type="text" class="form-control" id="signup-lastname" ng-model="form.lastName" required>
                    </div>
                    <div class="form-group signup-input">
                        <p class="order-label"><strong>Número de teléfono</strong></p>
                        <input type="text" class="form-control" id="signup-phone" ng-model="form.phoneNumber" required>
                    </div>
                    <div ng-if="form.isSeller">
                        <div class="form-group signup-input">
                             <p class="order-label"><strong>Nombre de la Empresa</strong></p>
                            <input type="text" class="form-control" id="signup-companyname" ng-model="form.companyName" required>
                        </div>
                        <div class="form-group signup-input">
                             <p class="order-label"><strong>Domicilio</strong></p>
                            <input type="text" class="form-control" id="signup-address" ng-model="form.address" required>
                        </div>
                        <div class="form-group signup-input">
                            <p class="order-label"><strong>Oficina</strong></p>
                            <select class="form-control selectpicker" id="signup-sellson" ng-model="form.sellsOn" required>
                                <option value="">Seleccione una Oficina</option>
                                <option value="Resistencia">Resistencia</option>
                            </select>
                        </div>
                        <div class="form-group signup-input">
                              <p class="order-label"><strong>Hora Cierre de Pedidos</strong></p>
                            <input class="form-control" type="text" pick-a-time="form.expirationTime" placeholder="Click para seleccionar" required/>
                        </div>              
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn3 btn-block">¡Registrarme!</button>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="row">
                        <div class="panel">
                            <div class="panel-body">
                                <p class="text-center"><strong>O PUEDES INGRESAR MEDIANTE:</strong></p>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default btn3 btn-block">FACEBOOK</button>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default btn3 btn-block">GOOGLE??</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>